
body{
    background-color: black;
    background-image: url("https://cdnmundo2.img.sputniknews.com/images/107178/93/1071789321.jpg");
    background-size: 149%;
    background-repeat: no-repeat;
    margin: auto;
}
.bienvenida h1{
    font-size: 55px;
    font-family: 'Song Myung', serif;
}
header.bienvenida{
    margin: 1% 0 5% 0;
   color: papayawhip;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.34);
}
header{
    text-align: center;
    margin: 0% 0 2% 0;
    color: papayawhip;
    padding: 10px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.34);
}
header h1{
    font-size: 55px;
    font-family: 'Song Myung', serif;
}
.btn{
    width: 16%;
}
.card{
    background-color: #00000069;
}
.card-body{
    color: white;
    
}
.card-body > .btn{
    width: 30%;
}
.btn.modif, .btn.eliminar{
    width: 45%;
}
.header{
	width: 100%;
}
.tabla1{
    background-color: rgba(0, 0, 0, 0.34);
    padding: 10px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: white;
}
input.form-control{
    background-color:  #ffffffc7;;
    color: black;
}
.input-group-text{
    width: 40px;
}
.fa-mobile-alt:before {
    content: "\f3cd";
    margin-left: 3px;
}
div.header h1{
    position: absolute;
    font-weight: 999;
    top: 149px;
    border: 3px dashed;
    color: darkred;
    padding: 20px;
    left: 423px;
    margin: auto;
    font-style: oblique;
    background-color: #00adff75;
}
a.link{
    color: black;
    text-decoration-style: none;
}
a.link:hover{
    color: #ffc107;
    text-decoration: none;
}
.tipos{
    display: contents;
    margin: auto;
    width: 100%;
}
.card{
    margin: 20px 40px;
    padding: 0;
}

@media(max-width: 1200px) and (min-width: 992px){
    .row {
        padding-left: 152px;
    }
}
@media(max-width: 991px) and (min-width: 769px){
    .card {
        margin: 20px 30px;
    }
}

@media (max-width: 768px) and (min-width: 427px){
   .botones-inicio .btn-inicio {
    width: 26%;
    }
    body{
        background-size: 265%!important;
    }
    header.bienvenida h1{
    font-size: 38px;
    }
    .card {
        margin: 20px 30px;
    }
}
@media (max-width: 426px) and (min-width: 320px){
   

    body{
        background-size: 339%!important;
    }
    table.dataTable {
    width: 90%!important;
    }
    
    .btn-inicio{
        width: 96%;
    }
    .botones-inicio{
        display: inline-flex;
    }
    header.bienvenida h1{
    font-size: 36px;
    }
    .btn-entrar{
        width: 25%;
    }
    .btn-nuevo{
        width: 130px;
    }
    .botones{
        text-align: center;
    }
    .btn-guardar, .btn-regresar{
        width: 90px;

    }
}
